In [8]:
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

In [9]:
def getStoreDF(storeId: int, departementId: int, df, testSize: int=0):
    store = df[(df["Store"] == storeId) & (df["Dept"] == departementId)]
    if (len(store) < 1):
        return None, None
    store['Date'] = pd.to_datetime(store['Date'], format='%Y-%m-%d')
    if (testSize > 0):
        store_train = store[:-testSize]
        store_test = store[-testSize:]
        return store_train, store_test
    return store, None

In [10]:
df = pd.read_csv("data/train.csv")
uniqueStoreIds = df["Store"].unique()

In [11]:
uniqueStoreIds

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [12]:
uniqueDeptId = df["Dept"].unique()

In [13]:
len(uniqueDeptId)

81

In [14]:
actualUniqueTimeseries = []
for storeId in uniqueStoreIds:
    for deptId in uniqueDeptId:
        newDf, _ = getStoreDF(storeId, deptId, df)
        if (newDf is not None and len(newDf) >= 104):
            actualUniqueTimeseries.append((storeId, deptId))

In [15]:
len(actualUniqueTimeseries)

2868

In [16]:
actualUniqueTimeseries = []
existingSeries = 0
for storeId in uniqueStoreIds:
    for deptId in uniqueDeptId:
        newDf, _ = getStoreDF(storeId, deptId, df)
        if newDf is not None:
            existingSeries += 1
        if (newDf is not None and len(newDf) >= 104):
            actualUniqueTimeseries.append((storeId, deptId))
print(existingSeries)

3331

In [13]:
import csv

with open("twoYearTimeSeries.csv", "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["storeId", "departmentId"])

In [14]:
with open('twoYearTimeSeries.csv', mode='a', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    for storeId, departmentId in actualUniqueTimeseries:
        writer.writerow([storeId, departmentId])

In [3]:
import utils
uniqueIds = pd.read_csv("twoYearTimeSeries.csv")
minLength = 20000
maxLength = 0
averageLength = 0.0
numberOfTimeSeries = 0.0
df = pd.read_csv("data/train.csv")
for _, row in uniqueIds.iterrows():
    timeseries, _ = utils.getStoreDF(row["storeId"], row["departmentId"], df, 0)
    if timeseries is None:
        print(f"NoneSeries: {row["storeId"]}, {row["departmentId"]}")
        continue
    if (len(timeseries) > maxLength):
        maxLength = len(timeseries)
    
    if(len(timeseries) < minLength):
        minLength = len(timeseries)
    averageLength += len(timeseries)
    numberOfTimeSeries += 1.0

print(f"MinLength<{minLength}>")
print(f"MaxLength<{maxLength}>")
print(f"AverageLength<{averageLength / numberOfTimeSeries}>")

MinLength<104>
MaxLength<143>
AverageLength<141.90550906555092>

In [32]:
uniqueIds

      storeId  departmentId
0           1             1
1           1             2
2           1             3
3           1             4
4           1             5
...       ...           ...
3640       45            99
3641       45            39
3642       45            50
3643       45            43
3644       45            65

[3645 rows x 2 columns]